/src
/node_modules
.vscode
docs

tsconfig.json
tsup.config.ts

vitest.config.ts
tests
coverage

biome.json
.lintstagedrc.json
.editorconfig

.gitattributes
.gitignore

.husky
.github

CODE_OF_CONDUCT.md
CONTRIBUTING.md

LICENSE
readme.md

.env.keys
.nvmrc
env.json
.env.production
assets